body, html {
  background: #000;
  color: #fff;
  font-size: 100px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#kara-lyrics-wrapper {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 100px;
}

.kara-screen {
  display: none;
}

.kara-screen.kara-visible {
  display: block;
}

.kara-segment {
  display: inline;
}

.kara-highlight {
  color: chartreuse;
}

#kara-pause-container {
  position: fixed;
  left: 200px;
  right: 200px;
  top: 50px;
  height: 50px;
  white-space: pre;
}

.kara-pause-meter {
  height: 100%;
  border: 4px solid #fff;
  padding: 6px;
  display: none;
}

.kara-pause-meter.kara-visible {
  display: block;
}

.kara-pause-bar {
  margin-right: auto;
  height: 100%;
  background: chartreuse;
  width: 0;
  transition: width 0.05s;
}
