audio {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

#test-current-time {
	font-size: 20px;
	font-family: monospace;
	position: fixed;
	bottom: 40px;
	left: 12px;
	right: 10px;
}
